// ****************************************************************************
// *                               001.#PALETTE                               *
// ****************************************************************************
// *---------------------------001.001#primary--------------------------------*
$orange: hsl(25, 97%, 53%);
$purple: hsl(270, 100%, 66.275%);
$red: hsl(0, 100%, 50%);
$darkGray: #333;
$veryDarkBlue: hsl(233, 47%, 7%);
$darkDesBlue: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);
$violet: hsl(276.77, 94.583%, 30.824%);

// *---------------------------001.002#neutral--------------------------------*
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$slightlyTransparentWhiteAlpha: hsla(0, 0%, 100%, 0.75);
$slightlyTransparentWhiteBeta: hsla(0, 0%, 100%, 0.6);

// ****************************************************************************
// *                               002.#COMPONENTS                            *
// ****************************************************************************
// *---------------------------002.001#page-----------------------------------*
$pageBg: $veryDarkBlue;
$pageColor: $white;

// *---------------------------002.002#attribution----------------------------*
$attributionBg: $black;
$attributionColor: $white;
$attributionLinkColor: $purple;
$attributionLinkHoverColor: $red;

// *---------------------------002.003#card-----------------------------------*
$cardBg: $darkDesBlue;

// *---------------------------002.004#stats----------------------------------*
$statsNumberColor: $white;
$statsTitleColor: $slightlyTransparentWhiteBeta;

// *---------------------------002.005#img-box--------------------------------*
$imgBoxOverlayBg: $violet;

// ****************************************************************************
// *                               003.#TAGS                                  *
// ****************************************************************************
// *---------------------------003.001#<h>--------------------------------*
$headingColor: $white;

// *---------------------------003.002#<p>--------------------------*
$paragraphColor: $slightlyTransparentWhiteAlpha;

// ****************************************************************************
// *                               004.#UTILITIES                             *
// ****************************************************************************
// *---------------------------004.001#color----------------------------------*
$uOrange: $orange;
$uSoftViolet: $softViolet;
$uWhite: $white;
$uTWhite: $slightlyTransparentWhiteBeta;

// *---------------------------004.002#background-----------------------------*
$uMediumGray: $darkGray;
