// ****************************************************************************
// *                               001.#FLEX                                  *
// ****************************************************************************
@mixin flex(
            $center: false,
            $jc: false,
            $ai: false,
            $dir: false,
            $gap: false,
            $gapVal: 10px,
            $dirVal: column,
            $jcVal: space-between,
            $aiVal: center
            ) {
  display: flex;

// *---------------------------001.001#center-----------------------------*
  @if $center {
    @if $jc {justify-content: center;}
    @if $ai {align-items: center;}
  } @else {
      @if $ai {align-items: $aiVal;}
      @if $jc {justify-content: $jcVal;}
  }

// *---------------------------001.002#align-items------------------------*

// *---------------------------001.003#justify-content--------------------*

// *---------------------------001.004#direction--------------------------*
  @if $dir {flex-direction: $dirVal;}

// *---------------------------001.005#gap--------------------------------*
  @if $gap {gap: $gapVal;}
}

// ****************************************************************************
// *                               002.#RESET                                 *
// ****************************************************************************
@mixin reset(
             $margin: true,
             $padding: true
             ) {
  box-sizing: border-box;

// *---------------------------002.001#margin---------------------------------*
  @if $margin {margin: 0;}

// *---------------------------002.002#padding--------------------------------*
  @if $padding {padding: 0;}
}
