// ****************************************************************************
// *                               001.#Z-INDEXES                             *
// ****************************************************************************
// *---------------------------001.001.#positive------------------------------*
$alpha: 999;
$beta: 777;
$gamma: 555;
$delta: 333;
$epsilon: 111;

// *---------------------------001.002.#negative------------------------------*
$revAlpha: -999;
$revBeta: -777;
$revGamma: -555;
$revDelta: -333;
$revEpsilon: -111;
