// ****************************************************************************
// *                               001.#IMG-BOX                               *
// ****************************************************************************
.img {
  &-box {
    order: 2;
    flex: {
      basis: 100%;
    }
  }
}

// ****************************************************************************
// *                               002.#IMPORT RULES                          *
// ****************************************************************************
@import "__img/__img";
