// ****************************************************************************
// *                          001.#screen-readers                             *
// ****************************************************************************
.sr {
  &-only {
    position: fixed;
    left: -10000vw;
    top: -10000vh;
    color: transparent;
    background: transparent;
    z-index: $revAlpha;
  }
}
