// ****************************************************************************
// *                               001.#ATTRIBUTION                           *
// ****************************************************************************
.attribution {
  background: $attributionBg;
  color: $attributionColor;
  text: {
    align: center;
  }
  padding: .25em;
}

// ****************************************************************************
// *                               002.#IMPORT RULES                          *
// ****************************************************************************
@import "__link/__link";
@import "__note/__note";
