// ****************************************************************************
// *                               001.#PAGE                                  *
// ****************************************************************************
.page {
  @include flex($center: true, $jc: true, $ai: true);
  background: $pageBg;
  color: $pageColor;
  min: {
    height: 100vh;
  }
}

// ****************************************************************************
// *                               002.#IMPORT RULES                          *
// ****************************************************************************
@import "__attribution/__attribution";
