// ****************************************************************************
// *                               001.#CARD                                  *
// ****************************************************************************
.card {
  width: 330px;
  background: $cardBg;
  overflow: hidden;
}

// ****************************************************************************
// *                               002.#IMPORT RULES                          *
// ****************************************************************************
@import "-simple/-simple";
