// ****************************************************************************
// *                               001.#IMG-BOX                               *
// ****************************************************************************
.img {
  &-box {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }
}

// ****************************************************************************
// *                               002.#IMPORT RULES                          *
// ****************************************************************************
@import "__overlay/__overlay";
@import "__img/__img";
