@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #090b1a;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 0.938rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

h2 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.38rem + 0.5vw, 1.85rem);
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

p {
  color: rgba(255, 255, 255, 0.75);
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #090b1a;
  color: white;
  min-height: 100vh;
}

.page__attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card {
  width: 330px;
  background: #1b1938;
  overflow: hidden;
}

.card-simple {
  text-align: center;
  padding-inline: 2em;
  padding-block: 1.3em 2.3em;
}

.card-simple__title {
  font-size: 1.7rem;
}

.card-simple__desc {
  line-height: 1.5rem;
}

.card-simple__stats {
  margin-top: 2em;
}

.card-full {
  display: flex;
  flex-direction: column;
}

.img-box {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.img-box__overlay {
  inset: 0;
  background: #5f0499;
  position: absolute;
  z-index: 555;
  opacity: 0.5;
}

.img-box__img {
  width: 100%;
  height: auto;
  display: block;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stats__col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stats__number {
  color: white;
  font-size: 1.35rem;
  font-weight: 700;
}

.stats__title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.7rem;
  font-family: "Lexend Deca", sans-serif;
  letter-spacing: 1px;
}

.attribution {
  background: black;
  color: white;
  text-align: center;
  padding: 0.25em;
}

.attribution__link {
  color: #a953ff;
}

.attribution__link_hover:hover {
  color: red;
}

.attribution__note {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.utilities_color_soft-violet {
  color: #aa5cdb;
}

.utilities_radius-1 {
  border-radius: 10px;
}

.sr-only {
  position: fixed;
  left: -10000vw;
  top: -10000vh;
  color: transparent;
  background: transparent;
  z-index: -999;
}

@media (min-width: 800px) {
  .card-simple {
    text-align: initial;
    flex-basis: 100%;
    padding-inline: 2rem;
    padding-inline: clamp(2rem, -0.5rem + 5vw, 4rem);
    padding-block: 1.3rem;
    padding-block: clamp(1.3rem, -0.825rem + 4.25vw, 3rem);
  }

  .card-simple__title {
    font-size: 1.4rem;
    font-size: clamp(1.4rem, 0.15rem + 2.5vw, 2.4rem);
  }

  .card-simple__desc {
    line-height: 1.7rem;
    font-size: 0.87rem;
    font-size: clamp(0.87rem, 0.7075rem + 0.325vw, 1rem);
    margin-right: 0rem;
    margin-right: clamp(0rem, -3.90625rem + 7.8125vw, 3.125rem);
  }

  .card-simple__stats {
    margin-top: 2em;
  }

  .card-full {
    display: flex;
    flex-direction: row;
    width: 75vw;
  }

  .img-box {
    order: 2;
    flex-basis: 100%;
  }

  .img-box__img {
    height: 100%;
    object-fit: cover;
  }

  .stats {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    gap: clamp(1.25rem, -1.69rem + 5.88vw, 3.6rem);
    margin-top: 2rem;
    margin-top: clamp(2rem, -0.5rem + 5vw, 4rem);
  }

  .stats__number {
    font-size: 1.15rem;
    font-size: clamp(1.15rem, 0.46rem + 1.38vw, 1.7rem);
  }

  .stats__title {
    font-size: 0.7rem;
    font-size: clamp(0.7rem, 0.51rem + 0.37vw, 0.85rem);
  }
}

/*# sourceMappingURL=styles.css.map */
