// ****************************************************************************
// *                               001.#CARD-SIMPLE                          *
// ****************************************************************************
.card {
  &-simple {
    text: {
      align: center;
    }
    padding: {
      inline: 2em; // x: 2em;
      block: 1.3em 2.3em; // y: 2em;
    }
  }
}

// ****************************************************************************
// *                               002.#IMPORT RULES                          *
// ****************************************************************************
@import "__title/__title";
@import "__desc/__desc";
@import "__stats/__stats";
